* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 10px;
  min-height: 100vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #0d6efd;
}

body .wrapper {
  width: 720px;
  background: #fff;
  border-radius: 5px;
}

body .wrapper header {
  font-size: 22px;
  font-weight: 600;
  padding: 20px 30px;
  border-bottom: 1px solid #bfbfbf;
}

body .wrapper form {
  margin: 35px 30px;
}

body .wrapper form .dbl-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 25px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .wrapper form .dbl-field .field {
  height: 50px;
  position: relative;
  width: calc(100% / 2 - 13px);
}

body .wrapper form .dbl-field .field input:focus ~ i {
  color: #0d6efd;
}

body .wrapper form .message {
  position: relative;
}

body .wrapper form .message i {
  top: 30px;
  font-size: 20px;
}

body .wrapper form .message textarea {
  min-width: 100%;
  max-width: 100%;
  min-height: 120px;
  max-height: 300px;
  min-height: 120px;
  padding: 15px 20px 0 48px;
}

body .wrapper form i {
  position: absolute;
  left: 18px;
  top: 50%;
  color: #bfbfbf;
  font-size: 17px;
  pointer-events: none;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

body .wrapper form .field input::-webkit-input-placeholder,
body .wrapper form .message textarea::-webkit-input-placeholder {
  color: #bfbfbf;
}

body .wrapper form .field input:-ms-input-placeholder,
body .wrapper form .message textarea:-ms-input-placeholder {
  color: #bfbfbf;
}

body .wrapper form .field input::-ms-input-placeholder,
body .wrapper form .message textarea::-ms-input-placeholder {
  color: #bfbfbf;
}

body .wrapper form .field input::placeholder,
body .wrapper form .message textarea::placeholder {
  color: #bfbfbf;
}

body .wrapper form .field input:focus,
body .wrapper form .message textarea:focus {
  border: 2.5px solid #0d6efd;
}

body .wrapper form .field input,
body .wrapper form .message textarea {
  height: 100%;
  width: 100%;
  outline: none;
  padding: 0 18px 0 48px;
  font-size: 1em;
  border-radius: 5px;
  border: 1px solid #bfbfbf;
}

body .wrapper form .button-area {
  margin: 25px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .wrapper form .button-area button {
  font-size: 1em;
  border: none;
  color: #fff;
  border-radius: 5px;
  background: #0d6efd;
  padding: 13px 25px;
}

body .wrapper form .button-area span {
  color: #0d6efd;
  margin-left: 30px;
}

@media (max-width: 600px) {
  .wrapper header {
    text-align: center;
  }
  form .dbl-field {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
/*# sourceMappingURL=main.css.map */